<!dOCTYPE html>
<html  lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>About Us</title>
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/main.css'%}" />
        
    </head>
    <body>
        <section>
            <div class = "image">
                <!-- <img src="{% static '/images/person.jpg' %}" /> -->
            </div>

            <div class = "content">
                <h2>About Us</h2>
                <span><!-- line here --></span>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis aspernatur voluptas inventore ab voluptates nostrum minus illo laborum harum laudantium earum ut, temporibus fugiat sequi explicabo facilis unde quos corporis!</p>

                <ul class = "links">
                    <li><a href = "/">Home</a></li>

                    <div class = "vertical-line"></div>

                    <li><a href = "/services">service</a></li>

                    <div class = "vertical-line"></div>
                    
                    <li><a href = "/contact">contact</a></li>
                </ul>

                <ul class = "icons">
                    <li>
                        <i class = "fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class = "fa fa-facebook"></i>
                    </li>
                    <li>
                        <i class = "fa fa-github"></i>
                    </li>
                    <li>
                        <i class = "fa fa-pinterest"></i>
                    </li>
                </ul>
            </div>
        </section>
    </body>
</html>