<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/home.css'%}" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="site-header clearfix">
       <nav>
        <div class="logo">
          <h1>Stock Market</h1>
        </div>
        <div class="menu">
          <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
    
          </ul>
        </div>
      </nav> 
     
      <section>
        <div class="leftside">
          <img src="{% static '/images/home.png' %}" />
        </div>
        <div class="rightside">
          <h1>Our Stock market Website</h1>
          <p>
            
          </p>
          <button onclick=>Contact Us</button>
        </div>
      </section>
    </header>
  </body>
</html>
